:root{
    --ordinary-text: #000000;
    --body-back: #f2f2f2;
    --hdr-text: #FFFFFF;
    --hdr-ftr-back: #293449;
    --hdr-ftr-back-active: #1D2739;
    --basic-red: #EE3643; 
    --basic-red-hover: #CA2C37;
    --basic-red-active: #BA2732;
    --hdr-general-back: #F3F7F9;
    --hdr-address: #32425C;
    --hdr-order-btn: #63A63E;
    --hdr-order-btn-hover: #5FBB2D;
    --hdr-middle-active: #C5C5C5;
    --hdr-topmenu-active: #161D29;
    --catalog-hdr-back: #F2F6F8;
    --main-yellow-card: #FFBF47;
    --main-blue-card: #3BBCE3;
    --main-magenta-card: #DC91D8;
    --main-green-card: #8ED78F;
    --section-hdrs: #F9F5F0;
    --product-card-border: #EAEAEA;
    --product-card-oldprice: #A9A9A9;
    --hidden-btns-border: #63A63E;
    --hidden-btns-active: #518534;
    --hidden-btns-shadow: #367315;
    --footer-nav-gold: #FFD180;
    --footer-social: #212A3A;
    --sort-filter-back: #F7F3EC;
    --pagination-btn-border: #E5E5E5;
}

body {
    padding: 0;
    font-family: "Cuprum", "Arial", sans-serif;
    text-align: center;
    color: #333333;
    background-color: var(--body-back);
}

a:hover,
button:hover {
  cursor: pointer;
}

a {
    text-decoration: none;
}

button {
    border: none;
}

li {
    list-style: none;
}

.header-top {
    background-color: var(--hdr-ftr-back);
}

.header-top a,
.header__submenu a {
    color: var(--hdr-text);
}

.header-top__logo,
.logo-bottom {
    background-color: var(--basic-red);
    height: 47px;
    width: 220px;
    text-align: center;
    padding-top: 13px;
    margin-bottom: -5px;
    box-shadow: inset 0 -5px 0 rgba(0,0,0,.24);
    display: inline-block;
}

.header-top__search,
.header-top__search input {
    background-color: transparent;
    border: none;
}
.header-top__search::before {
    content: "";
    background-image: url(../img/icon-search.svg);
    width: 17px;
    height: 17px;
    transform: translateY(-50%);
    opacity: 0.3;
    background-repeat: no-repeat;
    position: absolute;
}

.header-top__search:hover::before {
    opacity: 1;
}

.header-top__search input:focus {
    background-color: var(--hdr-text);
}

.header-top__search input::placeholder {
    color: var(--hdr-text);
    opacity: 1;
}

.header-top__search input:focus + .icon-search::before {
    position: absolute;
    content: "";
    width: 17px;
    height: 17px;
    top: 50%;
    left: 17px;
    transform: translateY(-50%);
    background-image: url(../img/icon-search-focus.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.hidden {
    display: none;
}

.header-top__search:hover::before {
    opacity: 1;
}

.btn-bookmark::before {
    content: "";
    width: 14px;
    height: 16px;
    background-image: url(../img/icon-bookmark.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    opacity: 0.3;
    position: absolute;
}

.btn-bookmark:hover::before {
    opacity: 1;
}

.btn-basket::before {
    content: "";
    width: 15px;
    height: 15px;
    background-image: url(../img/icon-cart.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    opacity: 0.3;
    position: absolute;
}

.btn-basket:hover::before {
    opacity: 1;
}

.btn-basket:active,
.btn-bookmark:active {
    background-color: var(--hdr-topmenu-active);
    color: rgba(255, 255, 255, 0.5);
}

.btn-basket:active::before,
.btn-bookmark:active::before {
    opacity: 0.3;
}

.checkout {
    background-color: var(--hdr-order-btn);
}

.checkout:hover {
    background-color: var(--hdr-order-btn-hover); 
}

.checkout:active {
    background-color: var(--hdr-order-btn);
    color: rgba(255, 255, 255, 0.5);
}

.header-middle{
    background-color: var(--hdr-general-back);
}

.header-middle__declare {
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: var(--basic-red);
}

.header-middle__phone,
.header-middle__phone a {
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 30px;
    color: var(--basic-red);
}

.header-middle__address {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: var(--hdr-address);
}

.header-middle__login::before {
    content: "";
    width: 20px;
    height: 17px;
    transform: translateY(-50%);
    background-image: url(../img/icon-login.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    position: absolute;
}

.header-middle__login,
.header-middle__register {
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 21px;
    color: var(--ordinary-text);
    background-color: var(--hdr-text);
}

.header-middle__login:hover,
.header-middle__login:focus,
.header-middle__register:hover,
.header-middle__register:focus {
    color: var(--basic-red);
}

.header-middle__login:hover::before,
.header-middle__login:focus::before {
    background-image: url(../img/icon-login_hover.svg);
}

.header-middle__login:active,
.header-middle__register:active {
    color: var(--hdr-middle-active);
}

.header-middle__login:active::before {
    background-image: url(../img/icon-login.svg);
}

.header__submenu {
    background-color: var(--hdr-address);
}

.submenu__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    vertical-align: middle;
    padding-left: 20px;
    min-height: 60px;
}

.header__submenu a {
    padding-top: 16px;
    padding-bottom: 20px;
    padding-left: 34px;
    padding-right: 24px;
    display: inline-block;
}

.header__submenu a:hover,
.header__submenu a:focus {
    background-color: var(--hdr-ftr-back);
}

.header__submenu a:active {
    background-color: var(--hdr-ftr-back-active);
    color: rgba(255, 255, 255, 0.5);
}

main {
    background-color: var(--hdr-text);
}

.highlight-card {
    width: 300px;
    min-height: 123px;
    padding-top: 20px;
    padding-left: 23px;
    color: var(--hdr-text);
}

.highlight-card h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px; 
    padding: 0;
    margin: 0;
}

.highlight-card a {
    color: inherit;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    background-color: rgba(255,255,255,0.3);
    display: inline-block;
    width: 135px;
    padding: 10px 0px;
}

.highlight-card a:focus,
.highlight-card a:hover {
    cursor: pointer;
    background-color: rgba(197,197,197,0.3);
}

.highlight-card a:active {
    background-color: rgba(169, 169, 169, 0.3);
}

.highlight-card--yellow {
    background-color: var(--main-yellow-card);
}

.highlight-card--blue {
    background-color: var(--main-blue-card);
}

.highlight-card--magenta {
    background-color: var(--main-magenta-card);
}

.highlight-card--green {
    background-color: var(--main-green-card);
}

.highlight-card:nth-child(1) {
    background-image: url(../img/icon-1.png);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.highlight-card:nth-child(2) {
    background-image: url(../img/icon-2.png);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.highlight-card:nth-child(3) {
    background-image: url(../img/icon-3.png);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.highlight-card:nth-child(4) {
    background-image: url(../img/icon-4.png);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.highlight-card:nth-child(5) {
    background-image: url(../img/icon-5.png);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.card-new::after {
    content: "";
    height: 70px;
    width: 70px;
    top: 0;
    right: 0;
    background-image: url(../img/card-new.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    z-index: 1;
}
.slide {
    background-color: var(--hdr-ftr-back);
    width: 620px;
    height: 266px;
    color: var(--hdr-text) ;
}

.slide h3 {
    text-transform: uppercase;
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
}

.slide p {
    font-size: 18px;
    line-height: 24px;
}

.slide a,
.index-btns {
    color: var(--hdr-text);
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: var(--basic-red);
    min-width: 192px;
    padding: 10px 0px;
    display: inline-block;
}

.index-btns:hover,
.index-btns:focus {
    background-color: var(--basic-red-hover);
}

.index-btns:active {
    background-color: var(--basic-red-active);
}

.slide-1 {
    background-image: url(../img/perfors.png);
    background-clip: border-box;
}

.slide-2 {
    background-image: url(../img/drills.png);
    background-origin: border-box;
}

.slider__btn {
    width: 28px;
    height: 28px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    /*border-right: var(--hdr-text);
    border-bottom: var(--hdr-text);*/
    border-right: 3px solid red;
    border-bottom: 3px solid red;
    z-index: 5;
    position: relative;
    padding: 0px;
}

.slider__btn--right {
    transform: rotate(-45deg);
    transform-origin: center;
}

.slider__btn--left {
    transform: rotate(135deg);
    transform-origin: center;
}

.popular-block__header {
    background-color: var(--section-hdrs);
    min-height: 89px;
}

.section-headers,
.service-tab__title {
    color: var(--hdr-address);
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
}

.product-card {
    width: 220px;
    min-height: 318px;
    border: 1px solid var(--product-card-border);
    background-color: var(--hdr-text);
}

.product-card__name {
    font-family: "PT Sans",Arial,sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: var(--ordinary-text);
}

.product-card__price,
.product-card__old-price {
    font-family: "PT Sans",Arial,sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 18px;
}

.product-card__price {
    color: var(--hdr-text);
    background-image: url(../img/red-triangle.svg);
    min-height: 38px;
    width: 141px;
    padding: 10px 0 0 0;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}

/*на случай, если картинки отвалятся*/
.product-card__price::before {          
    content: "";
    height: 36px;
    width: 114px;
    position: absolute;
    background-color: var(--basic-red);
    /*background-repeat: no-repeat;
    background-position: 0 0;*/
    top: 0px;
    left: 6px;
    z-index: -1;
    
}

.product-card__old-price {
    color: var(--product-card-oldprice);
    text-decoration-line: line-through;
}

.product-card:hover,
.product-card:focus,
.vendor-card:hover,
.vendor-card:focus {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.product-card__hidden-btns a {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.hidden-btns__buy {
    width: 135px;
    min-height: 38px;
    color: var(--hdr-text);
    background-color: var(--hidden-btns-border);
    box-shadow: inset 0px -3px 0px var(--hidden-btns-shadow);
    border-radius: 2px;
    /*padding: 10px 12px 10px 25px;*/
    display: block;
}

.hidden-btns__add {
    width: 135px;
    min-height: 32px;
    color: var(--hdr-address);
    font-size: 14px;
    line-height: 18px;
    border: 3px solid var(--hidden-btns-border);
    border-radius: 2px;
    /*padding: 7px 12px 7px 22px;*/
    display: block;
}

.hidden-btns__buy:hover,
.hidden-btns__buy:focus {
    background-color: var(--hdr-order-btn-hover);
}

.hidden-btns__buy:active {
    background-color: var(--hidden-btns-active);
}

.hidden-btns__buy::before {
    content: "";
    background-image: url(../img/icon-cart.svg);
    height: 15px;
    width: 15px;
    opacity: 0.3;
    transform: translateY(-50%);
}

.hidden-btns__add:hover,
.hidden-btns__add:focus {
    border-color: var(--hdr-address);
}

.hidden-btns__add:active {
    border-color: var(--hdr-address);
    opacity: 0.5;
}

.vendor-card {
    width: 220px;
    height: 145px;
    border: 1px solid var(--product-card-border);
}

.service {
    background-color: var(--hdr-general-back);
}

.h2-black {
    color: var(--ordinary-text);
}

.service p,
.service-tab__text,
.info-text {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 24px;
    font-family: "PT Sans", Arial, sans-serif;
}

.service p {
    width: 410px;
}

.service-tab__text {
    width: 275px;
}

.service-tabs {
    display: block;
}

.service-tabs__button {
    width: 240px;
    min-height: 61px;
    border: none;
    font-size: 21px;
    line-height: 30px;
    padding: 13px 0px 17px 22px;
    text-align: left;
    color: var(--hdr-text);
    background-color: var(--hdr-address);
}

/*.service-tabs__button::after {
    content: "";
    position: relative;
    height: 279px;
    width: 10px;
    background-image: url(../img/btn-shadow.png);
    background-position: 0 0;
    right: 0;
    top: -39px;
}*/

.service-tabs__button:hover,
.services-tabs__button:focus {
    background-color: var(--hdr-ftr-back);
}

.service-tab {
    width: 619px;
    min-height: 283px;
    height: 100%;
}

.service-tab-delivery {
    background-image: url(../img/delivery.png);
    background-repeat: no-repeat;
    background-position: 100% 80%;
}

.service-tab-warranty {
    background-image: url(../img/warranty.png);
    background-repeat: no-repeat;
    background-position: 100% 80%;
}

.service-tab-credit {
    background-image: url(../img/credit.png);
    background-repeat: no-repeat;
    background-position: 100% 80%;
}

.service-tab-credit .index-btns {
    border-radius: 5px;
}

.company-info__transport li {
    color: var(--ordinary-text);
    font-size: 18px;
    line-height: 24px;
    list-style-image: url(../img/redmarker.svg);
    text-align: left;
}

.footer-top {
    font-size: 18px;
    line-height: 24px;
    color: var(--hdr-text);
    min-height: 193px;
    background-color: var(--hdr-address);
}

.footer-top a {
    line-height: inherit;
    color: inherit;
}

.footer-nav--gold {
    color: var(--footer-nav-gold);
}

.footer-bottom {
    background-color: var(--hdr-ftr-back);
    color: var(--hdr-text);
    font-size: 16px;
    line-height: 18px;
}

.footer__info a {
    color: var(--footer-nav-gold);
    font-size: inherit;
    line-height: inherit;
}

.footer__info a:hover,
.footer__info a:focus {
    text-decoration-line: underline;
}

.foter__info a:active {
    text-decoration: none;
    color: var(--basic-red);
}

.social li{
    background-color: var(--footer-social);
    border-radius: 50%;
    width: 44px;
    height: 44px; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42px;
    width: 42px;
}

.social-link:hover,
.social-link:focus,
.social-link:active {
    background-color: var(--basic-red);
}

.catalog-header {
    background-color: var(--catalog-hdr-back);
}

.filter-header,
.input-range,
.input-range input,
.sortby,
.sortby__type {
    background-color: var(--sort-filter-back);
    border: none;
}

.sortby__type {
    font-family: "PT Sans",Arial,sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: var(--ordinary-text);
    opacity: 0.3;
    text-transform: uppercase;
    border-bottom: 1px dashed var(--basic-red); 
}

.sortby__title {
    font-family: "PT Sans",Arial,sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    color: var(--ordinary-text);
    text-transform: uppercase;
}

.sortby .active-sort {
    color: var(--basic-red);
    opacity: 1;
    border-bottom: 1px solid transparent;
}

.sortby__arrow {
    fill: var(--basic-red);
}

.sortby__arrow .rotate {
    transform: rotate(180deg);
    fill: var(--hdr-middle-active);
}

.sortby__type:hover,
.sortby__type:focus {
    border-bottom: 1px solid var(--basic-red);
    opacity: 1;
}

.active-sort:hover,
.active-sort:focus {
    cursor: text;
}

.sortby__type:active {
    border: none;
    opacity: 1;
    color: var(--basic-red);
}

.sortby__arrow .rotate:hover,
.sortby__arrow .rotate:focus {
    fill: var(--ordinary-text);
}


.sortby__arrow .rotate:active {
    fill: var(--basic-red);
}

.sortby__arrow a:visited {
    fill: var(--basic-red);
}

.user {
    display: flex;
    position: relative;
    width: 299px;
    min-height: 45px;
    background-color: var(--hdr-text);
    padding: 12px 15px 12px 17px;
    margin-bottom: 5px;
}

.user__name {
    color: var(--ordinary-text);
    font-size: 21px;
    line-height: 21px;
    padding-left: 40px;
   padding-top: 13px;
}

.user__logout {
    display: block;
    width: 20px;
    background-image: url(../img/icon-login_hover.svg);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.3;
    margin-left: 20px;
}

.user__name::before {
    position: absolute;
    content: "";
    transform: translateY(-50%);
    width: 20px;
    height: 18px;
    background-image: url(../img/icon-user.svg);
    background-position: 0 0;
    opacity: 0.3;
    top: 50%;
    left: 15px;
}

.user__name:hover::before,
.user__name:focus::before {
    opacity: 1;
}

.user__logout:focus,
.user__logout:hover {
    opacity: 1;
}

.user__logout:active {
    opacity: 0.3;
}

.user__name:active::before {
    opacity: 0.3;
}

.user-links a {
    color: var(--hdr-address);
    font-size: 16px;
    line-height: 18px;
    position: relative;
}

.user-links__account::before {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--hdr-address);
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}

.user-links__orders:focus,
.user-links__orders:hover,
.user-links__account:focus,
.user-links__account:hover {
    color: var(--basic-red);
}

.user-links__account:hover::before,
.user-links__account:focus::before {
    background-color: var(--basic-red);
}

.user-links__orders:active,
.user-links__account:active {
    color: var(--hdr-middle-active);
}

.user-links__account:active::before {
    background-color: var(--hdr-middle-active);
}

.header-top .placed-in {
    background-color: var(--basic-red);
}

.home-link:hover .home-link-icon,
.home-link:focus .home-link-icon {
    fill: var(--ordinary-text);
}

.breadcrumbs a {
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    font-family: "PT Sans",Arial,sans-serif;
    color: var(--ordinary-text);
    position: relative;
}

.breadcrumbs__link--current:hover {
    cursor: text;
}

.breadcrumbs__link:hover {
    text-decoration: underline;
}

.breadcrumbs__link:before,
.home-link:before {
    content: "";
    width: 8px;
    height: 12px;
    background-image: url(../img/icon-right-small.svg);
    background-repeat: no-repeat;
    top: 3px;
    right: -20px;
    position: absolute;
}


.pagination a{
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    font-family: "PT Sans",Arial,sans-serif;

}
.pagination__button {
    color: var(--ordinary-text);
    width: 38px;
    height: 38px;
    border: 1px solid var(--pagination-btn-border);
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination__button--next {
    width: 140px;
}

.pagination__button--current {
    background-color: var(--basic-red);
    color: var(--hdr-text);
}

.description p {
    font-family: "PT Sans",Arial,sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.filter-header {
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
}

