:root{
   
    --ordinary-text: #000000;
    --hdr-text: #FFFFFF;
    --hdr-ftr-back: #293449;
    --hdr-ftr-back-active: #1D2739;
    --basic-red: #EE3643; 
    --hdr-general-back: #F1F5F7;
    --hdr-address: #32425C;
    --hdr-order-btn: #63A63E;
    --hdr-order-btn-hover: #5FBB2D;
    --hdr-middle-active: #C5C5C5;
    --hdr-topmenu-active: #161D29;
    --main-yellow-card: #FFBF47;
    --main-blue-card: #3BBCE3;
    --main-magenta-card: #DC91D8;
    --main-green-card: #8ED78F;


}

body {
    margin: 0;
    padding: 0;
    font-family: "Cuprum", "Arial", sans-serif;
    text-align: center;
    color: #333333;
    background-color: #f2f2f2;
}

a:hover,
button:hover {
  cursor: pointer;
}

a {
    text-decoration: none;
}

button {
    border: none;
}

li {
    list-style: none;
}

.header-top {
    background-color: var(--hdr-ftr-back);
}

.header-top a,
.header__submenu a {
    color: var(--hdr-text);
}

.header-top__logo{
    background-color: var(--basic-red);
}

.header-top__search,
.header-top__search input {
    background-color: transparent;
    border: none;
}
.header-top__search::before {
    content: "";
    background-image: url(../img/icon-search.svg);
    width: 17px;
    height: 17px;
    transform: translateY(-50%);
    opacity: 0.3;
    background-repeat: no-repeat;
    position: absolute;
}

.header-top__search:hover::before {
    opacity: 1;
}

.header-top__search input:focus {
    background-color: var(--hdr-text);
}

.header-top__search input::placeholder {
    color: var(--hdr-text);
    opacity: 1;
}

.header-top__search input:focus+.icon-search::before {
    position: absolute;
    content: "";
    width: 17px;
    height: 17px;
    top: 50%;
    left: 17px;
    transform: translateY(-50%);
    background-image: url(../img/icon-search-focus.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.hidden {
    display: none;
}

.header-top__search:hover::before {
    opacity: 1;
}

.btn-bookmark::before {
    content: "";
    width: 14px;
    height: 16px;
    background-image: url(../img/icon-bookmark.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    opacity: 0.3;
    position: absolute;
}

.btn-bookmark:hover::before {
    opacity: 1;
}

.btn-basket::before {
    content: "";
    width: 15px;
    height: 15px;
    background-image: url(../img/icon-cart.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    opacity: 0.3;
    position: absolute;
}

.btn-basket:hover::before {
    opacity: 1;
}

.btn-basket:active,
.btn-bookmark:active {
    background-color: var(--hdr-topmenu-active);
    color: rgba(255, 255, 255, 0.5);
}

.btn-basket:active::before,
.btn-bookmark:active::before {
    opacity: 0.3;
}

.checkout {
    background-color: var(--hdr-order-btn);
}

.checkout:hover {
    background-color: var(--hdr-order-btn-hover); 
}

.checkout:active {
    background-color: var(--hdr-order-btn);
    color: rgba(255, 255, 255, 0.5);
}

.header-middle{
    background-color: var(--hdr-general-back);
}

.header-middle__declare {
    font-family: Cuprum;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: var(--basic-red);
}

.header-middle__phone,
.header-middle__phone a {
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 30px;
    color: var(--basic-red);
}

.header-middle__address {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: var(--hdr-address);
}

.header-middle__login::before {
    content: "";
    width: 20px;
    height: 17px;
    transform: translateY(-50%);
    background-image: url(../img/icon-login.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    position: absolute;
}

.header-middle__login,
.header-middle__register {
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 21px;
    color: var(--ordinary-text);
    background-color: var(--hdr-text);
}

.header-middle__login:hover,
.header-middle__login:focus,
.header-middle__register:hover,
.header-middle__register:focus {
    color: var(--basic-red);
}

.header-middle__login:hover::before,
.header-middle__login:focus::before {
    background-image: url(../img/icon-login_hover.svg);
}

.header-middle__login:active,
.header-middle__register:active {
    color: var(--hdr-middle-active);
}

.header-middle__login:active::before {
    background-image: url(../img/icon-login.svg);
}

.header__submenu {
    background-color: var(--hdr-address);
}

.submenu__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    vertical-align: middle;
    padding-left: 20px;
    min-height: 60px;
}

.header__submenu a {
    padding-top: 16px;
    padding-bottom: 20px;
    padding-left: 34px;
    padding-right: 24px;
    display: inline-block;
}

.header__submenu a:hover,
.header__submenu a:focus {
    background-color: var(--hdr-ftr-back);
}

.header__submenu a:active {
    background-color: var(--hdr-ftr-back-active);
    color: rgba(255, 255, 255, 0.5);
}

.highlight-card {
    width: 300px;
    min-height: 123px;
    padding-top: 20px;
    padding-left: 23px;
    color: var(--hdr-text);
}

.highlight-card h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px; 
    padding: 0;
    margin: 0;
}

.highlight-card a {
    color: inherit;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    background-color: rgba(255,255,255,0.3);
    display: inline-block;
    width: 135px;
    padding: 10px 0px;
}

.highlight-card a:focus,
.highlight-card a:hover {
    cursor: pointer;
    background-color: rgba(197,197,197,0.3);
}

.highlight-card a:active {
    background-color: rgba(169, 169, 169, 0.3);
}

.highlight-card--yellow {
    background-color: var(--main-yellow-card);
}

.highlight-card--blue {
    background-color: var(--main-blue-card);
}

.highlight-card--magenta {
    background-color: var(--main-magenta-card);
}

.highlight-card--green {
    background-color: var(--main-green-card);
}

.highlight-card:nth-child(1) {
    background-image: url(../img/icon-1.png);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.highlight-card:nth-child(2) {
    background-image: url(../img/icon-2.png);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.highlight-card:nth-child(3) {
    background-image: url(../img/icon-3.png);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.highlight-card:nth-child(4) {
    background-image: url(../img/icon-4.png);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.highlight-card:nth-child(5) {
    background-image: url(../img/icon-5.png);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.card-new::after {
    content: "";
    height: 70px;
    width: 70px;
    top: 0;
    right: 0;
    background-image: url(../img/card-new.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    z-index: 1;
}
.slide {
    background-color: var(--hdr-ftr-back);
    width: 620px;
    height: 266px;
    color: var(--hdr-text) ;
}

.slide h3 {
    text-transform: uppercase;
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
}

.slide p {
    font-size: 18px;
    line-height: 24px;
}

.slide a {
    color: inherit;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: var(--basic-red);
    min-width: 192px;
    padding: 10px 0px;
    display: inline-block;
}

.slide-1 {
    background-image: url(../img/perfors.png);
    background-clip: border-box;
}

.slide-2 {
    background-image: url(../img/drills.png);
    background-origin: border-box;
}
